div.container {
    margin-top: 200px;
}

#gameboard {
    width: 360px;
    padding: 0;
    margin: 0 auto;
}
#gameboard div.panel{
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}
#gameboard div.panel span {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 40px;
    font-size: 3em;
    top: 20px;
}

div.panel:nth-child(3n+1) {
    border-right: 5px solid black;
}

div.panel:nth-child(3n+2) {
    border-right: 5px solid black;
}

div.panel:nth-child(n+4) {
    border-top: 5px solid black;
}
span#flash_msg {
    display:none;
    background-color: rgba(212, 95, 91, 1);
    color: white;
    width: 300px;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
span#flash_msg.activated {
    display: block;
}
ul {
    width: 90%;
    display: block;
    position: relative;
}
#scoreboard li {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}
#scoreboard.gameInactive li:nth-child(n+2):hover {
    background-color: rgba(212, 207, 91, 0.7) !important;
}
#scoreboard li:nth-child(even) {
    color: white;
    background-color: rgba(110,178,202, 1);
}
#scoreboard li.activated {
    background-color: rgba(212, 207, 91, 1) !important;
}
#scoreboard li span {
    float: right;
    width: 40px;
}

button.close {
    position: relative;
    right: 0;
}
#currentPlayers li {
    list-style-type: none;
    margin: 0;
}
#currentPlayers button {
    font-size: 1.5em;
    background-color: white;
    width: 20px;
}
#currentPlayers li.X {
    color: white;
    background-color: rgba(212, 95, 91, 1);
}
#currentPlayers li.O {
    color: white;
    background-color: rgba(129,200,132, 1);
}

div.panel.freePanelO:hover::after {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 40px;
    font-size: 3em;
    top: 20px;
    color: rgba(129,200,132, 0.7);
    content: "O"

}
div.panel.freePanelX:hover::after {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 40px;
    font-size: 3em;
    top: 20px;
    color: rgba(212, 95, 91, 0.7);
    content: "X";
}
div.gameboardWrapper {
    width: 100%;
}

div.panel.X span {
    color: rgba(212, 95, 91, 1);
}

div.panel.O span {
    color: rgba(129,200,132, 1);
}

#gameOptions {
    text-align: center;
}

#gameOptions button {
    padding: 10px;
    margin: 10px;
}

.wrapper {
    text-align: center;
}
#gamePhase {
    font-size: 2em;
}

#gamePhase > span.X {
    color: rgba(212, 95, 91, 1);
}
#gamePhase > span.O {
    color: rgba(129,200,132, 1);
}

.animatedTic {
    animation-name: fadeOut;
    animation-duration: 1000;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
